@import "./partials/setup";

$highlight: #063bd4;
$arrow: url("./assets/pointer-arrow.svg"), auto;
$hand: url("./assets/pointer-hand.svg"), auto;
$controlPanelWidth: 17%;
$controlPanelBodyWidth: 83%;
$controlPanelTotalWidth: 40%;

html {
  font-family: "Roboto", sans-serif;
  font-size: calc(16px + (28 - 16) * ((100vw - 500px) / (1600 - 500)));
  cursor: $arrow;
}
button {
  cursor: $hand;
}
ul {
  list-style: none;
  padding: 0;
}
.hiddenInput {
  display: none;
}
.App {
  position: relative;
  display: flex;
  height: 100vh;
  // align-self: stretch;
  // height: 100%;
  width: 100%;
  background-color: $highlight;
  // z-index: -1;
}

.landing {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  right: 0;
  padding-right: 10%;
  img {
    max-width: 10rem;
  }
  h1,
  h2 {
    color: white;
    text-transform: uppercase;
    text-align: right;
    width: 100%;
    margin: 2rem 0 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}
main {
  display: flex;
  width: 100%;
}
.mainDisplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gifOverlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.gifPanel {
  z-index: 800;
  position: absolute;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  // left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  &.show {
    transform: translateX(0%);
    transition: transform 0.5s ease-out;
  }
}

.gifList {
  align-self: flex-end;
  &__container {
    width: calc(100% - (40% * 0.17));
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    overflow-y: scroll;
    align-self: flex-end;
    align-items: center;
    transition: width 0.3s ease-in;
  }
  &__item {
    // width: auto;
    // display: inline-block;
    width: 33%;
    text-align: center;
    cursor: $hand;
    video {
      // width: 33%;
      width: 100%;
      // height: 100%;
    }
  }
}

.controlPanelMain {
  width: $controlPanelTotalWidth;
  display: flex;
  z-index: 999;
  transform: translateX(calc(-100% + #{$controlPanelWidth}));
  transition: transform 0.3s ease-in;
  background: white;
  ul {
    margin: 0;
  }
  &.show {
    transform: translateX(0%);
    transition: transform 0.3s ease-out;
    & + main .gifPanel .gifList__container {
      transition: width 0.3s ease-out;
      width: calc(100% - 30%);
    }
  }
  .controlPanel {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    &__body {
      width: $controlPanelBodyWidth;
      padding: 1rem 0.5rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      overflow-y: scroll;
      transition: width 0.3s;
    }
    &__controls {
      // width: 25%;
      height: 100%;
      width: $controlPanelWidth;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: center;
      padding: 0 0.5rem;
      transition: width 0.3s;
      ul {
        height: 100%;
      }
      &--item {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        transition: transform 0.2s;
        cursor: $hand;
        svg {
          cursor: $hand;
        }
        path {
          fill: $highlight;
        }
        .hamburger .bar {
          background-color: $highlight;
        }
        &:not(.hamburgerContainer):hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.searchForm {
  position: relative;
  align-self: flex-start;
  width: 100%;
  margin-top: 2rem;
  color: $highlight;
  label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    transition: top 0.3s, transform 0.3s;
    z-index: 50;
    font-size: 0.75rem;
    h3 {
      margin: 0;
    }
    &.float,
    &:hover {
      top: -75%;
      transform: translateY(0);
    }
  }
  input:focus,
  input:hover {
    + label {
      top: -75%;
      transform: translateY(0);
    }
  }

  input,
  button {
    width: 80%;
    border-radius: 2rem;
    border: 2px solid $highlight;
    color: $highlight;
    outline: none;
    // height: 2rem;
    padding: 0.5rem 1rem;
    z-index: 100;
    font-size: 1rem;
    cursor: $hand;
  }
  input {
    background-color: transparent;
    // prevent ios safari default input inner shadow
    -webkit-appearance: none;
  }
  button {
    position: absolute;
    width: initial;
    // font-size: 1rem;
    right: 0;
    top: 0;
    color: white;
    background: $highlight;
    text-transform: lowercase;
    font-weight: 700;
    svg {
      transform: rotate(0) scale(1);
      transition: transform 0.2s;
    }
    &:hover {
      svg {
        transform: rotate(45deg);
      }
    }
    &:active {
      svg {
        transform: rotate(45deg) scale(1.25);
      }
    }
  }
}

.stationList {
  width: 100%;
  margin: 0;
  align-self: flex-start;
  &__station {
    margin: 0.5rem 0;
    border-radius: 2rem;
    padding: 0.5rem;
    background: $highlight;
    cursor: $hand;
    border: 3px solid transparent;
    transition: border 0.3s, background 0.3s;
    h4 {
      color: white;
      // background: rgba(255, 255, 255, .7);
      margin: 0;
      border-radius: 2rem;
      font-size: 1rem;
      padding: 0.4rem 0.5rem;
      transition: color 0.4s;
    }
    &:hover {
      background: white;
      border: 3px solid $highlight;
      h4 {
        color: $highlight;
      }
    }
  }
}
.activeStation {
  position: absolute;
  right: 0;
  top: 1.5rem;
  z-index: 500;
  margin: 0;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 2rem 0 0 2rem;
  font-size: 1rem;
  color: $highlight;
}
.toggleShuffle {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  svg {
    transition: transform 0.2s;
  }
  &:active svg {
    transform: rotate(180deg);
  }
}
.hamburger {
  height: 1.3rem;
  width: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  transition: margin 0.2s;
  overflow: hidden;
  cursor: $hand;
  .bar {
    width: 100%;
    margin: 0;
    height: 5px;
    border-radius: 2rem;
    transition: transform 0.3s;
    transform-origin: center left;
    &:first-of-type {
      transform: rotate(0deg);
    }
    &:nth-of-type(2) {
      transform: scale(1);
    }
    &:last-of-type {
      transform: rotate(0deg);
    }
  }
  &:hover {
    .bar {
      &:first-of-type {
        transform: translateX(-50%);
      }
      &:nth-of-type(2) {
        transform: translateX(-25%);
      }
      &:last-of-type {
        transform: translateX(0);
      }
    }
  }
}

.hamburgerInput:checked {
  + .hamburger {
    overflow: visible;
    margin-left: 0.5rem;
    .bar {
      &:first-of-type {
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        transform: scale(0) translateX(0%);
      }
      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
    &:hover {
      overflow: hidden;
      .bar {
        &:first-of-type {
          transform: translateX(-50%);
        }
        &:nth-of-type(2) {
          transform: translateX(-25%) scale(1);
        }
        &:last-of-type {
          transform: translateX(0);
        }
      }
    }
  }
}

@import "./partials/mediaQueries";
